{% extends '_base.html' %}
{% load static %}

{% block body %}
<div class="grid grid-cols-12 h-full w-full overflow-hidden">
    <div
        class="col-span-12 hidden h-full w-full overflow-hidden bg-primary-500 items-center justify-center
            md:flex md:col-span-6">
        <img
            alt="Auth illustration"
            src="{% static 'assets/images/auth.png' %}" class="w-1/2 object-contain">
    </div>
    <div class="col-span-12 md:col-span-6 h-full w-full overflow-y-scroll flex flex-col p-4">
        <a href="/" class="w-full block rounded flex items-center justify-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="w-12 h-12 mr-2 rounded" src="{% static 'assets/images/logo.png' %}" alt="logo">
        </a>
        <div class="flex-1 w-[90%] max-w-[600px] m-auto flex flex-col gap-2 p-2">
        {% block content %}
        {% endblock content %}
        {% block extra_body %}
        {% endblock extra_body %}
        </div>
    </div>
</div>
{% endblock body %}