<section class="relative w-full px-8 text-gray-700 bg-white body-font" data-tails-scripts="//unpkg.com/alpinejs" {!! $attributes ?? '' !!}>
    <div class="container flex flex-col flex-wrap items-center justify-between py-5 mx-auto md:flex-row max-w-7xl">
        {% include 'public/components/logo.html' %}
        
        <nav class="top-0 left-0 z-0 flex items-center justify-center w-full h-full py-5 -ml-0 space-x-5 text-base md:-ml-5 md:py-0 md:absolute">
            {% include './navbar/navbar_link.html' with text="Home" url="public:index" icon_url="icons/home.svg" %}
            {% include './navbar/navbar_link.html' with text="About" url="public:about" icon_url="icons/about.svg" %}
        </nav>

        {% include './navbar/auth.html' %}
    </div>
</section>
