{% extends 'dashboard/_base.html' %}

{% block content %}
    <section
        class="w-full h-full flex flex-col gap-2 overflow-y-hidden">
        <header
            class="text-start">
            <nav class="flex flex-row gap-2 p-2">
                <a class="text-primary-500" href="{% url 'dashboard:index' %}">Dashboard</a>
                <span>&gt;</span>
                <a class="text-primary-500" href="{% url 'clients:index' %}">Clients</a>
            </nav>
        </header>
        <div class="flex-1 overflow-y-hidden">
        {% block module_content %}
        {% endblock %}
        </div>
    </section>
{% endblock %}