{% load i18n %}
{% load compress %}
{% load static %}
{% load django_browser_reload %}
{% load allauth account %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta author="Lusayo Nyondo">
        <meta description="User authentication">

        {% block page_title %}
        <title>
            {% block head_title %}
            {% endblock head_title %}
        </title>
        {% endblock %}

        {% compress css %}
        <link rel="stylesheet" href="{% static 'css/output.css' %}" />
        {% endcompress %}
        
        {% block page_icon %}
        <link rel="icon" href="{% static 'assets/images/logo.png' %}" type="image/png" />
        {% endblock %}

        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body class="h-screen w-screen overflow-hidden relative">
        {% if messages %}
            <div class="absolute bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded bottom-[10px] right-[10px]">
                <ul>
                    {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                </ul>
            </div>
        {% endif %}
        
        {% block body %}
            {% block content %}
            {% endblock content %}
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}

        {% django_browser_reload_script %}
        <script defer src="{% static 'js/alpine.plugins.js' %}" type="text/javascript"></script>
        <script defer src="{% static 'js/alpinejs@3.14.3/dist/cdn.min.js' %}" type="text/javascript"></script>
        {% block client_scripts %}
        {% endblock %}
    </body>
</html>
