{% load static %}
<header
    class="flex flex-row w-full p-4 justify-between">
    <a
        href="{% url 'public:index' %}">
        <img class="w-8 h-8 object-contain" alt="logo" src="{% static 'assets/images/logo.png' %}">
    </a>
    <div
        class="flex flex-row flex-1 justify-end
            md:hidden">
        <button class="p-2 text-white" @click="isSidebarOpen = !isSidebarOpen">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
</header>