{% load static %}
{% load dashboard %}

{% is_current_page_child_of parent_url=url as is_child_page %}
<li class="w-full block pb-2 px-2">
    <a href="{% url url %}"
        class="block w-full rounded p-2
        flex flex-row items-center justify-start gap-2
        transition duration-150 ease-out
        font-medium leading-6
        text-white hover:bg-primary-700"
        x-data
        {% if is_child_page %}
        :class="'bg-primary-800'"
        {% endif %}>
        <div class="object-scale-down">
            {% include icon %}
        </div>
        <span>{{ text }}</span>
    </a>
</li>